@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Exo&family=Roboto&display=swap');

* {
    border: none;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;

    background-image: url(./images/background.webp);
    background-attachment: fixed;
    background-size: cover;
}

#header-logo {
    width: 150px;
}

.bg-main {
    background-color: rgba(20, 20, 20, 1);
}

.bg-main-opacity-85 {
    background-color: rgba(20, 20, 20, 0.85);
}

.my-text-color {
    color: hsla(0,0%,100%,.6);
}

#pop-up {
    display: none;
}
